{% extends "base.html" %}
{% block content %}
  <div class="hero-unit">
  	<h1>
  		Hello, world!
  	</h1>
  	<p>
  		This is a site, which can help you and your friend. If you both don't know where you may go, our service can help you. If you don't know or forget how to use our service then push the button below.
  	</p>
  	<p>
  		<a class="btn btn-primary btn-large" href="{{ URL }}/how/">How to use? »</a>
  	</p>
  </div>
{% endblock content %}
{% block map %}{% endblock map %}
{% block confirm_your_location %}{% endblock confirm_your_location %}
{% block meetfriend %}{% endblock %}
