{% extends "base.html" %}
{% block content %}
  <div class="hero-unit">
  	<h1>
  		Hello!
  	</h1>
  	<p>
  		This is a site, which can help you and your friend. If you both don't know where you may go, our service can help you. If you are ready to begin - push the button.
  	</p>
  	<p>
  		<a class="start_button" href="/start/">Let's go »</a>
  	</p>
  </div>
{% endblock content %}
{% block map %}{% endblock map %}
{% block confirm_your_location %}{% endblock confirm_your_location %}
{% block meetfriend %}{% endblock %}
{% block index %}class="index_body"{% endblock index %}
