//= require bootstrap
//= require bootstrap-responsive
//= require_self

#map img {
  max-width: none;
}

.start_button {
  display: inline-block;
  margin-top: 18px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #5C5C5C;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Noto Serif, sans-serif;
  color: white;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.10) 0px 2px 0px;
}
.start_button:hover {
  text-decoration: none!important;
  background-color: #9CC787;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: white;
}

.friend_img {
  margin-bottom:7px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

}

.friend_img:hover {
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-box-shadow:
      0 0 20px rgba(0,0,0,.6),
      inset 0 0 20px rgba(0,0,0,1);
  -moz-box-shadow:
      0 0 20px rgba(0,0,0,.6),
      inset 0 0 20px rgba(0,0,0,1);
  box-shadow:
      0 0 20px rgba(0,0,0,.6),
      inset 0 0 20px rgba(0,0,0,1);
}

.friend_name {
  color: #333;
  margin-top:10px;
  width: 100px;
}

.friend {
  text-decoration: none!important;
}
