<!doctype html>{% load gears %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{{ site.name }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon/favicon.ico">
  <meta name="keywords" content="{{ metadata.keywords }}">
  <meta name="description" content="{{ metadata.description }}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/modernizr-2.6.2.min.js"></script>
  <!--[if lt IE 7]>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/ie6no.ru.js"></script>
  <![endif]-->
  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie/ie.css">
  <![endif]-->
</head>
<body>
 <a class="nav-link" href="{% url 'socialauth_begin' 'foursquare' %}" target="_self">FS</a><br>
 <a class="nav-link" href="{% url 'auth_logout' %}" target="_self">logout</a><br>
 <div class="block_main">
   {% for friend in friends %}
      <a href="{% url 'venues_view' friend.id %}" class="friend">
       {{ friend.firstName }} {{ friend.lastName }}
       <img src="{{ friend.photo.prefix }}36x36{{ friend.photo.suffix }}"><br>
     </a>
   {% endfor %}
 </div>
 <div id="map"></div>
 <div id='status'></div>

  <script type="text/javascript" src="http://yandex.st/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-1.9.1.js"><\/script>')</script>
  {% js_asset_tag "js/script.js" %}

</body>
</html>
