{% extends "base.html" %}
{% block content %}
  <h2>
      How to use?
  </h2>
  <p>
    This will be a simple text, but i don't know what write. This will be a simple text, but i don't know what write. This will be a simple text, but i don't know what write. This will be a simple text, but i don't know what write. This will be a simple text, but i don't know what write. This will be a simple text, but i don't know what write. This will be a simple text, but i don't know what write. This will be a simple text, but i don't know what write. This will be a simple text, but i don't know what write. This will be a simple text, but i don't know what write. This will be a simple text, but i don't know what write.
  </p>
{% endblock content %}
